 <h1>Vous avez fait une demande de réinitialisation de mot de passe</h1>

    <p>Pour finaliser votre demande, vous pouvez cliquer sur le lien ci-dessous :</p>
      <a href="{{ url('reset-password', { token: token }) }}">Changer mon mot de passe</a>
