<h1>Easy Christmas, merci de confirmer votre email</h1>

    <p>
    Confirmez votre adresse mail en cliquant sur ce lien : <br><br>
        <a href="{{ url('login', { token : token }) |raw }}">Confirmez mon e-mail</a>.
    </p>

    <p>
    A bientôt sur Easy Christmas !
    </p>