
    <h1>Nouvelle recette à activer</h1>

    <p>Une nouvelle recette a été créée par {{ user.username }}.</p>

    <p><strong>Titre de la recette :</strong> {{ recipe.title }}</p>

    <p><strong>Description :</strong> {{ recipe.description }}</p>
    
    <p>Veuillez vérifier et activer la recette si elle est conforme.</p>

