{% extends 'base.html.twig' %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}

        <form id="form_register" class="form_layout">
            <fieldset  action="processRegister.php" method="POST" name="register">
                <h3 class="form_title">Inscription</h3>
                <p class="form_field">
                    <label for="name" class="form_label">Nom d'utilisateur</label>
                    <input type="text" name="name" class="form_input" id="name" required autocomplete="off">
                   
                </p>
                <p class="form_field">
                    <label for="dob" class="form_label">Date de naissance</label>
                    <input type="date" required name="dob" class="form_input" id="dob">
        
                </p>
    
                <p class="form_field">
                    <label for="email" class="form_label">Email</label>
                    <input type="email" required class="form_input" autocomplete="off" name="email" id="email">
                  
               
                </p>
    
                <p class="form_field">
                    <label for="password" class="form_label">Mot de passe</label>
                    <input type="password" required class="form_input" autocomplete="off" name="password" id="password" toggle="">
                
                    <i toggle="password_field" class="fa fa_eye_slash field_icon_register toggle_password"></i>
                    
                </p>
                <p class="form_field">
            <label for="password_confirm" class="form_label">Confirmez le mot de passe</label>
            <input type="password" required class="form_input" name="password_confirm" id="password_confirm" autocomplete="off">
    </p>
    
    <p class="form_field_checkobox">
        <input type="checkbox" id="cgu" name="cgu" class="checkbox" required/>
        <label for="cgu" class="form_label" >J'ai lu et j'accepte les conditions générales d'utilisation</label>
       
    </p>
    
    <button type="submit" class="form_btn">Envoyer</button>
            </fieldset>
        </form>
    
    {{ form_end(registrationForm) }}
{% endblock %}
