
<footer>

    <div class="footer-links">

        <ul class="list-inline">
            <li class="list-inline-item"><a href="{{ path('contact') }}" aria-label="Contact">Contact</a></li>
            <li class="list-inline-item"><a href="{{ path('pdc') }}" aria-label="Politique de confidentialité">Politique de confidentialité</a></li>
            <li class="list-inline-item"><a href="{{ path('cgu') }}" aria-label="Conditions générales d'utilisation">Conditions générales d'utilisation</a></li>
        </ul>

        <p class="copyright">Easy Christmas © 2024</p>

    </div>

</footer>

</section>