
{# <footer>
        <div class="footer-links">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{{ path('contact') }}">Contact</a></li>
                <li class="list-inline-item"><a href="{{ path('pdc') }}">Politique de confidentialité</a></li>
                <li class="list-inline-item"><a href="{{ path('cgu') }}">Conditions générales d'utilisation</a></li>
            </ul>
            <p class="copyright">Easy Christmas © 2024</p>
        </div>
</footer> #}
</section>