<h1>Mon cher Papa Noêl {{ assignation.userGiver.firstname }}</h1>

   <p>
   Cette année, tu as été choisi(e) pour m'offrir un cadeau pour Noêl! 
   </p>

   <p>
   Pour te faciliter la tâche, voici quelques idées :

      <ul>
         <li>Voeux n°1 : {{ wishname }}</li>
      </ul>   
      
   </p>

   <p>Merci,
   </p>

   <p>
   {{ receiver }}
   </p>

