{% extends 'base.html.twig' %}

{% block body %}
<div class="letter_layout">
    {{ form_start(wishForm, {'attr': {'class': 'form_wishes-layout'}}) }}
    <h5>Mon cher papa Noël</h5>

        <p>Cette année, j'ai été particulièrement sage ! Je mérite donc un joli cadeau et au cas où tu ne saurais pas quoi m'offrir, voici quelques idées :
        </p>
            <ul>
                {% for wishname in wishForm.wishnames %}
                    <li>{{ form_widget(wishname, {'attr': {'class': 'form_wishes-input'}}) }}</li>
                {% endfor %}
            </ul>

            <p>Je te remercie et j'ai hâte de te voir,</p>
            <p>{{ app.user.username }}</p>
            
            <button type="submit" class="form_btn">Envoyer</button>
            {{ form_end(wishForm) }}
</div>
{% endblock %}
