{% extends 'base.html.twig' %}


{% block body %}
<h2>Idées Gourmandes pour les Fêtes</h2>

    {% for recipe in recipes %}
       <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ recipe.title }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4>{{ recipe.title }}</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <a class="recipes_discover" href="{{ path('recipe_detailed', {slug: recipe.slug, id: recipe.id}) }}">Découvrez la recette</a>
        
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}
