@import "_variables";
@import "_mixin";

#randomDraw{
    width: 100%;
    height: 100vh;
    background-color: $c-red;
}

#form_players{
    margin-left:2rem;
    width:40%;
}

.players{
    font-family: $f-second, sans-serif;
    color: $c-white;
}

#player_name{
    font-family: $f-second, sans-serif; 
    color:$c-white;
    width:380px; 
    background: transparent;
    padding: 0.3rem; 
    margin-left: 1rem;
    border: none;
    border-bottom: 1px solid $c-white;
      
}

.btn_add{
    @include btn;  
    background-color: $c-green;
    margin-left:2rem;
}

.btn_add:hover{
    color:$c-white;
}

#player_instructions{
    color: $c-white;
    font-size: 0.8rem;
}

.perspective{
    perspective: 1000px;
}

.cardDraw {
    width: 270px;
    height: 400px;
    box-shadow: 0px 10px 13px -7px #000000;
    transform-style: preserve-3d;
    transition: transform .05s linear;
    
}

.imgCard {
    background-image: url(../images/else/presents.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}



.btn-tirage{
    @include btn;  
    background-color: $c-green;
}

.btn-tirage::before{
@include btn;
}

.btn-tirage:hover{
    color:$c-white;
}

.btn-tirage:hover::before{
    width: 100%;
}