@import "_variables";
@import "_mixin";

#draw{
    width: 100%;
    height: 100vh;
    background-color: $c-red;
}

.draw_explanations{
    color:$c-white;
    font-family: $f-second, sans-serif;
    font-size: 1rem;
    width:70%;
    margin: 2rem auto;
}

#form_players{
    margin-left:2rem;
    width:80%;
}

.form_players-layout{
    display:flex;
    flex-flow:row wrap;
}
.email_participant-layout{
    display:flex;
    flex-flow:row wrap;
}

#email-participant_errors, #email-partcipant_exclusion{
    display:flex;
    flex-flow: column nowrap;
}

.players{
    font-family: $f-second, sans-serif;
    color: $c-white;
    display: flex;
    align-items: center;
    justify-content: center;
    height:40px;
    margin:1rem 0 1rem 1.5rem;
}

#participant_email, #participant_exclusion{
    border:none;
    border-bottom: 0.5px solid $c-white;
    background-color: transparent;
    color: $c-white;
    height:40px;
    width:380px;
    margin:1rem 0.8rem;
}

#participant_email:focus, #participant_exclusion:focus,#participant_email:valid,
#participant_exclusion:valid, #particpant_email:not(:placeholder-shown),#participant_exclusion:not(:placeholder-shown){
    outline: none;
    border-bottom: 1px solid $c-white;
    color: $c-white;
}

:where(.participant_email, .participant_exclusion)::placeholder {
    font-size:0.8em;    
}

.email_error-participant{
    display: none;
}

.btn_add,.newParticipant,.btn_play{
    height:40px;
    padding: 0.5rem;
    color: $c-white;
    background-color: $c-green;
    border:none;
    margin:1rem 1.5rem;
    border-radius: 18px;
    transition: transform 0.2s ease-in-out;
}

#participants_table {
    border-collapse: collapse;
}

td{
    color:$c-white;
}

#participants_table, #participants_table th, #participants_table td {
    border: none;
}

.btn_remove{
    height:30px;
    width: 30px;
    padding: 0.5rem;
    color: $c-white;
    background-color: $c-green;
    border:none;
    margin:0 1.5rem;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_add:hover,.btn_remove:hover,.newParticipant:hover,.btn_play:hover{
    transform: scale(1.1);
}

.btn_play_container {
    display: flex;
    justify-content: center;
    margin-top:2rem;
}

.btn_play{
    font-family: $f-first, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}