@import "_variables";
@import "_mixin";


.form_login-layout{
    @include form;
    width:90%;
    max-width:415px;
}

.form_field{
    margin-bottom: 1.1rem;
 }   

.form_label{
    display: block; 
    margin-bottom: 0.8rem;
    padding-left: 1rem;
    color: $c-white;
    font-size: 1rem;
}

.form_input {
    width:100%;
    font-family: $f-second; 
    color:$c-white;
    background: transparent;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    transition: all .3s;   
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.8rem;
}

.form_input:hover{
    background: rgba(255, 255, 255, .1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, .2);
    transition: all 0.4s ease-out;
}
    
::placeholder{
    font-family: $f-second; 
    color: $c-white;
}
    
.form_btn{
    @include btn;
    background-color: $c-red;
    display: block;
    margin:2rem auto;
}
    
.form_btn:hover{
    text-shadow: 2px 2px 4px rgba(0, 0, 0);
    transition: all 0.4s ease-out;
}
   
.form_password-forgot, .register_button{
    color:$c-white;
    margin-bottom: 0.5rem;
}

.form_password-forgot:hover, .register_button:hover{
    color:$c-red;
    transition: all 0.4s ease-out;
}

.form_field-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0.5rem;
}


#remember{
    margin-left: 1rem;
}

.rememberMe{
    color: $c-white;
    padding-left: 0.7em;
    font-family: $f-second, sans-serif;
    font-size: 0.85rem;
}

.form_errors{
    color:$c-red !important;
    font-family: $f-second, sans-serif;
    display: block;
}

// TABLETS
@media screen and (min-width: 769px) and (max-width: 992px){
    .form_layout-login {
        width: 90%;
    }
}


// PHONES
@media only screen and (max-width: 768px) {
    .form_layout-login {
        width: 90%;
    }
}


