@import "_variables";


@mixin form{
    background: rgba(150, 149, 149, 0.173);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(101, 100, 100, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
    z-index:7;
    transition: transform 0.5s ease, opacity 0.5s ease;
}



@mixin glassmorphism{
    background: rgba(161, 46, 46, 0.459);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 0.1rem solid rgba(131, 48, 48, 0.3);
}

@mixin btn{
    border-radius: 18px;
    color: $c-white;
    font-family: $f-first, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer ;
}

@mixin btnaddandremove{
    display: inline-block;
    height:30px;
    width: 30px;
    color: $c-white;
    background-color: $c-green;
    border:none;
    border-radius: 50%;
    font-family: $f-first, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    transition: transform 0.2s ease-in-out;}

@mixin btnCreateRecipe{
    border-radius: 50px;
    color: $c-white;
    background-color: $c-green;
    font-family: $f-second, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 0.5rem 1rem;
    border: none;
}

@mixin profileBento{
    background: rgba(150, 149, 149, 0.173);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(101, 100, 100, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@mixin recipesImg{
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin footer{
    width: 100%;
    height:fit-content;
    background-color: transparent;
    font-family: $f-second, sans-serif;
    color: $c-white;
    margin-top:1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0.8rem;
   
}


    