@import "_variables";
@import "_mixin";

header {
    width: 100%;
    padding: 0 0.2rem;
    padding-top: 1.3rem; 
}

.navbar, .nav_links-wrapper{
    height: 60px; 
    width: 100%;
}

.hamburger {
    padding: 0;
    width: 37px;
    height: 37px;
    display: flex;
    border-radius: 50%;
    border: 0.3px solid rgba(255, 255, 255, 0.5);
    background-color: $c-red;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

.bar {
    position: relative;
    width: 52%;
    height: 1.3px;
    background-color: $c-white;
    border-radius: 5%;
}

.hamburger .bar::before, .hamburger .bar::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 100%;
    background-color: inherit;
    border-radius: 5%; 
}

.hamburger .bar::before {
    top: -4.5px;
}

.hamburger .bar::after {
    top: 4.5px; 
}

.nav_links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}

header img{
    width: 45px;
    height: 40px;
}

.nav_links li a{
    text-decoration: none;
    color: $c-white;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: clamp(15px, 1.2vw, 19px);
    font-family: $f-first, sans-serif;
    letter-spacing: 0.2em;
}

.nav_links li a:hover {
    color: $c-green;
    transition: all 0.4s ease-out;
}

#login_button {
    @include btn;
    background-color: $c-red;
}

#login_button:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0);
    transition: all 0.4s ease-out;
}

.dropdown-recipes {
    position: relative;
    display: inline-block;
}

.dropdown-recipes .dropbtn {
    cursor: pointer;
}

.dropdown-recipes .dropdown-content {
    display: none;
    position: absolute;
    background-color: $c-white;
    max-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-recipes .dropdown-content a {
    font-family: $f-first, sans-serif;
    font-size: 0.8rem;
    text-transform: lowercase;
    color: rgb(29, 28, 28);
    padding: 0.9rem 1.1rem;
    text-decoration: none;
    display: block;
}

.dropdown-recipes .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-recipes:hover .dropdown-content {
    display: block;
}

.dropdown-profile {
    position: relative;
    display: inline-block;
}

.dropdown-profile .dropbtn {
    cursor: pointer;
}

.dropdown-profile .dropdown-content {
    display: none;
    position: absolute;
    background-color: $c-white;
    max-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-profile .dropdown-content a {
    font-family: $f-first, sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.2em;
    text-transform: lowercase;
    color: rgb(29, 28, 28);
    padding: 0.9rem 1.1rem;
    text-decoration: none;
    display: block;
}

.dropdown-profile .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-profile:hover .dropdown-content {
    display: block;
}

#avatar {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.close-hamburger{
    color: $c-red;
    display:none;
}

// TABLETS & PHONES
@media screen and (max-width: 1025px) {
    .nav_links {
        display: none;
    }

    .hamburger {
        display: flex;
        margin-left: 1rem;
    }

    .nav_links.open {
        display: flex;
        flex-flow: column nowrap;
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 100vh;
        background-color: #e0dddd;
        z-index: 10;
        padding-left: 0.6rem;
    }

    .nav_links li a{
        color: $c-red;
        font-size: 0.9rem;
    }

    .nav_links li a:hover{
        color: $c-green;
    }

    .nav_links li img {
        display: none;
    }

    .dropdown-profile .dropbtn {
        display: block;
    }

    .close-hamburger{
        display:block;
    }
}
