@import "_variables";
@import "_mixin";

#profile{
    width: 100%;
    min-height: 100vh;
    background-color: $c-red;
   
}

.profileForm_layout{
    width:80%;
}

#profileForm_col-bento{
  @include profileBento;
  padding: 2rem;
  width:auto;
  height:auto;
}

#profile_photo-bento{
    @include profileBento;
    padding: 2rem;
    min-width: 350px;
    max-width:350px;
    height:350px;
}

.profile_picture{
    width: 180px;
    height: 180px;
   
}

#profile_photo{
    margin-top:3rem;
    cursor: pointer;
}

