@import "_variables";


#recipes{
    width: 100%;
    height: 100vh;
    background-color: $c-red;
    display: flex;
    flex-flow: column nowrap;
   align-items: center;
   overflow: hidden;
}

.recipes_carousel{
    display: flex;
    align-items: flex-end;
    
}

.recipes_item {
    margin-top: 100px;
    margin-right: 20px;
    width: 350px;
    height: 370px;
    border-radius: 16px;
    cursor: pointer;
    filter: brightness(50%);
  }


  .recipes_item:hover{
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transform: translateX (-46px);
    width: 500px;
    box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    filter: brightness(100%);
  }

@mixin recipesImg{
    background-repeat: no-repeat;
    background-size: cover;

}

.verrine{
    background-image: url(../images/recipes/apero/avocado.webp);
    @include recipesImg;  
}

.rillettes{
    background-image: url(../images/recipes/apero/mackerel.webp);
    @include recipesImg;
}

.miniCake{
    background-image: url(../images/recipes/apero/miniCakes.webp);
    @include recipesImg;
}

.saumon{
    background-image: url(../images/recipes/entrees/salmon.png);
    @include recipesImg;
    filter:contrast(160%) brightness(70%);
}

.foieGras{
    background-image: url(../images/recipes/entrees/foieGras.webp);
    @include recipesImg;
}

.chaponFarci{
    background-image: url(../images/recipes/plats/chapon.webp);
    @include recipesImg;
}

.magret{
    background-image: url(../images/recipes/plats/duck.webp);
    @include recipesImg;
}

.saintJacques{
   background-image: url(../images/recipes/plats/scallop.webp); 
   @include recipesImg;
}


.bucheChocolat{
    background-image: url(../images/recipes/desserts/yuleLog.webp);
    @include recipesImg;
}

.foretNoire{
    background-image: url(../images/recipes/desserts/foretNoire.webp);
    @include recipesImg;
}

.bucheFramboise{
    background-image: url(../images/recipes/desserts/rasberryYuleLog.webp);
    @include recipesImg;
}


h4{
    font-family: 'Roboto', sans-serif;
    color: color-mix(in srgb, black 30%, white 70%) !important;
    font-size: clamp(1rem,calc(1.1rem + 0.5vw),1.25rem) !important;
    font-weight: 700 !important;
    position: relative;
    top: 290px;
    left:10px;
    text-transform: uppercase;
    text-wrap: balance; 

}

.recipes_a{
    font-family:'Roboto', sans-serif;
    color: color-mix(in srgb, black 50%, white 50%);
    position: relative;
    top : 290px;
    left: 10px;
}

.recipes_a:hover{
    color:$c-green;
}

.recipes_items-navigation{
    width: 100%;
display: flex;
  justify-content: space-evenly;
  color: $c-white;
    margin-top: 4rem;
}

.recipes_item-previous, .recipes_item-next{
   width: 40px;
   height: 40px;
    cursor: pointer;
    color:$c-white;
}

.recipes_item-next{
    rotate: 180deg;
}