@import "_variables";
@import "_mixin";

#recipeDetailed{
    width: 100%;
    min-height: 100vh;
    background-color: $c-red; 
}


.recipe-container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.recipe-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.recipe-photo img {
    max-width: 100%;
    border-radius: 10px;
}

.recipe-info {
    flex: 1;
    margin-left: 20px;
    background-color: #fff; /* Fond blanc pour la section d'info */
    color: #000; /* Texte noir pour la section d'info */
    padding: 10px;
    border-radius: 10px;
}

.recipe-info div {
    margin-bottom: 10px;
}

.recipe-description {
    margin-bottom: 20px;
}

.recipe-steps {
    background-color: #fff; /* Fond blanc pour les étapes */
    color: #000; /* Texte noir pour les étapes */
    padding: 10px;
    border-radius: 10px;
}

.recipe-steps h2 {
    margin-top: 0;
}

.recipe-steps ol {
    padding-left: 20px;
}

.recipe-steps li {
    margin-bottom: 10px;
}
