@import "_variables";
@import "_mixin";

#recipeDetailed{
    width: 100%;
    min-height: 100vh;
    background-color: $c-red; 
}

.container_detailed{
    width:65%;
    margin:auto;
   padding-bottom:5rem;
}

.recipe_ingredients{
width:370px;
padding: 20px;
background-color: $c-white; 
color: $c-grey; 
border-radius: 16px;
}

.quantity{
    display:flex;
    width:160px;
    justify-content: center;
    margin:auto;
 }

.quantity_input,.minus1,.add1{
   width:50px;
   padding:.3em;
   font-size:1rem;
   color: $c-grey;
   text-align:center;
   font-weight:700;
   background:$c-white;
   border:1px solid $c-grey;
}

.quantity input{
   border-left:none;
   border-right:none;
}

.ingredient_layout, .ingredient_li{
    display: flex;
    justify-content: space-between;
}

.ingredient_layout{
flex-flow: column wrap;
margin:0 0 2rem 0;
}

.ingredient_li{
    border-bottom:0.6px solid $c-grey;
}
.recipe_info {
    background-color: $c-white; 
    color: $c-grey; 
    padding: 20px;
    border-radius: 16px;
    width:370px;
}

.recipe_photo{
    width:370px;
    height: 340px;
    border-radius: 16px;
}

.recipe_steps {
    background-color: $c-white; 
    color: $c-grey; 
    padding: 20px;
    border-radius: 16px;
}

.stepnumber_strong{
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.step-description_justify{
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
