@import "_variables";
@import "_mixin";

#recipesIntro{
    width: 100%;
    min-height: 100vh;
    background-color: $c-red;
}

.recipes_create{
margin:auto;
color: $c-white;
font-family: $f-second, sans-serif;
font-size: 1.5rem;
}

.container{
    width: 60%;
}

.recipes_item {
    width: 260px;
    height: 270px;
    border-radius: 16px;
    cursor: pointer;
    filter: brightness(50%);
  }

  .recipes_item:hover{
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transform: translateX (-46px);
    width: 350px;
    box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    filter: brightness(100%);
  }

.apero{
    background-image: url(../images/recipes/apero/avocado.jpg);
    @include recipesImg;
}

.entrees{
    background-image: url(../images/recipes/entrees/foieGras.jpg);
    @include recipesImg;
}

.plats{
    background-image: url(../images/recipes/plats/chapon.jpg);
    @include recipesImg;
}

.desserts{
    background-image: url(../images/recipes/desserts/rasberryYuleLog.jpg);
    @include recipesImg;
}

.recipes_a{
    font-family:'Roboto', sans-serif;
    font-size: 2.2rem;
    font-weight: 900;
    color: $c-white;
    position: relative;
    top : 190px;
    left: 20px;
}

.recipes_a:hover{
    color:$c-green;
}

