@import "_variables";
@import "_mixin";


#recipesListByCategory{
    width: 100%;
    min-height: 100vh;
    background-color: $c-red;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.card_recipe-cat{
    max-width: 540px;
}

.recipes_discover{
    color:$c-green;
    font-family: $f-second, sans-serif;
}

.recipes_discover:hover{
    text-decoration: none;
    color:$c-red;
}