@import "_variables";
@import "_mixin";

#randomDraw{
    width: 100%;
    height: 100vh;
    background-color: $c-red;
}


.perspective{
    perspective: 1000px;
}

.cardDraw {
    width: 270px;
    height: 400px;
    box-shadow: 0px 10px 13px -7px #000000;
    transform-style: preserve-3d;
    transition: transform .05s linear;
    
}

.imgCard {
    background-image: url(../images/else/presents.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

