@import "_variables";
@import "_mixin";

#userRecipe{
    width: 100%;
    min-height: 100vh;
    background-color: $c-red;
}

.container_creation{
    width: 80%;
    margin:auto;
}

.add-ingredient_link, .add-step_link{
    @include btnCreateRecipe;   
}

.new-ingredient_item, .new-step_item{
    padding:1.1rem;
}

.required{
display: block; 
  margin-bottom: 5px;
  color: $c-white;
  font-size: 1.1rem;
}

.ingredient-select, .unit-select, .quantity-input,.new-step_item input{
    font-family: $f-second; 
      color:$c-white;
      width:380px;
      border-radius: 50px;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      -moz-backdrop-filter: blur(5px);
      box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
      text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
      transition: all .3s;   
      border: 1px solid rgba(255, 255, 255, 0.3);
      background: transparent;
      padding: 0.8rem;
}

.select-container {
    select {

    select:focus,
    select:hover {
        background-color: #f0f0f0; 
    }

    option {
        background-color: #ffffff; 
        color: $c-grey; 
    }
    select option:checked {
        background-color: #dddddd; 
        color: $c-grey; 
    }
}}