@import "_variables";
@import "_mixin";

#wishes{
    width: 100%;
    height:100vh;
    background-image: url(../images/else/wishes.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wishesContent{
    height:700px;
}

.letter_layout {
    max-width:580px;
    font-family:'PlaywriteSK', serif;
    font-size: clamp(0.8em, 2.5vw, 1em);
    color: $c-grey;
    padding: 20px;
    position:absolute;
    top: 30%;
    left: 40%;
}

.letter_layout p {
    margin-bottom: 1em;
}

.wish_fieldset{
    display:flex;
    flex-flow: row wrap;
}

.wish_fieldset-errors{
    display:flex;
    flex-flow: column wrap;
}

.wish_fieldset-div{
    display: flex;
    flex-flow: row wrap;
}

.wish_participant-layout{
    height:30px;
    padding: 5px;
    font-family:'PlaywriteSK', serif;
    font-size: 1em;
}

#wish_participant{
    border:none;
    border-bottom: 0.5px solid $c-grey;
    background-color: transparent;
    color: $c-grey;
}

#wish_error,#wish_titles{
    display: none;
}

.wish_btn-add,.btn_wish{
    @include btnaddandremove;
    margin-left:1.5rem;
}

.wish_btn-add:hover, .btn_wish:hover{
    transform: scale(1.1);
}

#wish_table{
    margin:1rem;
    width:350px;
}

.wish_row, .wish_col,.wish_names{
    color:$c-grey;
    font-family:'PlaywriteSK', serif;
    font-size: 1rem;
}

th{
    height:40px;
}


// TABLETS
@media screen and (min-width: 769px) and (max-width: 992px){
    .wishesContent{
        height:930px;
    }

    .letter_layout {
        max-width:480px;
        top: 30%;
        left: 30%;
    }
    }
    
// PHONES
@media only screen and (max-width: 768px) {
    .wishesContent{
        height:430px;
    }

    .letter_layout {
        max-width:300px;
        padding: 2px;
        top: 30%;
        left: 20%;
    }
    #wish_table{
        margin:1rem;
        width:250px;
    }
}





