@import "~bootstrap/scss/bootstrap";
@import '_variables';
@import '_mixin';

@import '_cgu';
@import '_contact';
@import '_count';
@import '_draw';
@import '_drawResults';
@import '_flash';
@import '_footer';
@import '_formLogin';
@import '_formReset';
@import '_formSignUp';
@import '_home';
@import '_navBar';
@import '_oops';
@import '_pdc';
@import '_profile';
@import '_recipesByCat';
@import '_recipesIntro';
@import '_recipesDetail';
@import '_thanks';
@import '_userCreateRecipe';
@import '_wish';


.content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 1;
    height:80%;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li, ul, ol{
    list-style: none;
}

ul, ol{
    padding-left:0;
}

a{
    text-decoration: none;
}

h1{
    margin-bottom:2rem;
    text-align: center;
    color: $c-white;
    font-weight: 900;
    font-family: $f-first, sans-serif;
}

//TITRES DES PAGES
h2{
    font-family: $f-first, sans-serif;
    font-size: clamp(1.5rem,calc(2.2rem + 1vw),3rem) !important;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: $c-white !important;
    text-align: center;
    margin-top:2rem;
    margin-bottom: 2.5rem !important;
}

//TITRES DES FORMULAIRES
h3{
    font-family: $f-first, sans-serif;
    font-size: clamp(1.3rem, 2.5vw, 1.5rem) !important;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: $c-white;
    text-align: center; 
    margin-bottom: 1.2rem;
}

//TITRES PR LES RECIPES CAT
h4 {
    text-transform: uppercase;
    text-align: center;
    font-family: $f-first, sans-serif;
  }
  
//TITRES PR LES CGU ET PDC
h5 {
    font-family: $f-second, sans-serif;
    text-transform: uppercase;
    margin-top: 1.2rem; 
    color: $c-white !important;
  }

h6{ font-size: 0.85rem;  color: $c-white !important;
}

select {
    select:focus,
    select:hover {
    background-color: #f0f0f0; 
    }

    option {
    background-color: #ffffff; 
    color: $c-grey; 
    } 
    select option:checked {
    background-color: #dddddd; 
    color: $c-grey; 
    }
}