<h1>Easy Christmas, résultat du tirage au sort</h1>

   <p>
      Cette année, vous avez été choisi(e) pour offrir un cadeau à {{ receiver }} !
   </p>

   <p>
      N'oubliez pas de vous rendre dans notre rubrique 'Liste au Père Noël' pour envoyer votre liste de souhaits à la personne qui a été tirée au sort pour vous offrir un cadeau cette année !
   </p>

   <p>
      A bientôt sur Easy Christmas !
   </p>