{% extends 'base.html.twig' %}

{% block body %}
<h2>Le grand tirage au sort</h2>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn-tirage">Lancer le tirage</button>
{{ form_end(form) }}
{% endblock %}