{% extends 'base.html.twig' %}

{% block body %}
<h2>Résultats du tirage au sort</h2>

<div class="results_container">
    <div class="column giver_column">
        <h3>Donneur</h3>
        <ul>
            {% for assignation in assignations %}
                <li class="names_layout">{{ assignation.userGiver.email }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="column receiver_column">
        <h3>Receveur</h3>
        <ul>
            {% for assignation in assignations %}
                <li class="names_layout">{{ assignation.userReceiver.email }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
