{% extends 'base.html.twig' %}



{% block body %}


    <h2>Le grand tirage au sort</h2>



<div class="row-gap-3">
    <div class="col-md-12 text-center">
        <h3>Résultats :</h3>
        <p id="player_instructions">Lire de gauche à droite pour savoir qui offre à qui</p>
    </div>
 
    <div class="col-lg-3 col-md-3 col-sm-12 mx-auto">
        <div class="perspective">
            <div class="cardDraw">
                <div class="imgCard">       
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="perspective">
            <div class="cardDraw">
                <div class="imgCard"></div>
                </div>
            </div>
        </div>
    </div>    