{% extends 'base.html.twig' %}



{% block body %}
<section class="count">
    
    <h2 class="count_title">Jour du père Noël dans</h2>
    <div class="clock">
      <div class="clock-contain">
        <span id="clock-days"></span>
        <span class="clock-time">Jours</span>
        </div>
    <div class="clock-contain">
    <span id="clock-hours"></span>
    <span class="clock-time">Heures</span>
    </div>
    <div class="clock-contain">
    <span id="clock-minutes"></span>
    <span class="clock-time">Minutes</span>
    </div>
    <div class="clock-contain">
    <span id="clock-seconds"></span>
    <span class="clock-time">Secondes</span>
    </div>
    </div>

</section>
{% endblock %}
