{% extends 'base.html.twig' %}


{% block body %}

  <div class=" cgu_layout">
    <h2>Conditions générales d'utilisation</h2>

    <p class="cgu_update">(Mises à jour le 02/05/2024)</p>
    <div class="preambule">
     <ul>
        <li><a class="preambule_title-click" href="#article1">ARTICLE 1. ACCEPTATION DES CONDITIONS</a></li>
        <li><a class="preambule_title-click" href="#article2">ARTICLE 2. MODIFICATIONS DES CONDITIONS</a></li>
        <li><a class="preambule_title-click" href="#article3">ARTICLE 3. INSCRIPTION</a></li>
        <li><a class="preambule_title-click" href="#article4">ARTICLE 4. UTILISATION DU SITE</a></li>
        <li><a class="preambule_title-click" href="#article5">ARTICLE 5. PAIEMENTS </a></li>
        <li><a class="preambule_title-click" href="#article6">ARTICLE 6. PROPRIETE INTELLECTUELLE </a></li>
        <li><a class="preambule_title-click" href="#article7">ARTICLE 7. LIMITATION DE RESPONSABILITE</a></li>
        <li><a class="preambule_title-click" href="#article8">ARTICLE 8. PROTECTION DES DONNEES </a></li>
        <li><a class="preambule_title-click" href="#article9">ARTICLE 9. RESILIATION </a></li>
        <li><a class="preambule_title-click" href="#article10">ARTICLE 10. DROIT APPLICABLE </a></li>
        </ul>
    </div>

<div class="para">
    <h5 id="article1">Article 1. Acceptation des conditions</h5>
    <p>En accédant à notre site web et en créant un compte via notre formulaire d'inscription, vous acceptez d'être lié par les présentes Conditions Générales d'Utilisation (CGU). Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser notre site.</p> 

    <h5 id="article2">Article 2. Modification des Conditions</h5>
    <p>Nous nous réservons le droit de modifier ces CGU à tout moment. Les modifications prendront effet immédiatement après leur publication sur le site. Votre utilisation continue du site après la publication des modifications constitue votre acceptation de ces modifications. </p>
   
    <h5 id="article3">Article 3. Inscription</h5>
    <p>Pour accéder à certaines fonctionnalités, vous devez créer un compte en fournissant des informations personnelles précises et complètes. Vous êtes responsable du maintien de la confidentialité de votre mot de passe et de toutes les activités effectuées sous votre compte.</p>

    <h5 id="article4">Article 4. Utilisation du site</h5>
    <p>Vous acceptez d'utiliser le site conformément aux lois applicables et de ne pas : <br/>

      - Publier du contenu offensant, diffamatoire ou illégal <br/>

     - Tenter d'obtenir un accès non autorisé à d'autres comptes <br/>
    - Utiliser le site à des fins commerciales non autorisées <br/>
    
  </p>

    <h5 id="article5">Article 5. Paiements</h5>
    <p>Bien que l'utilisation du site soit gratuite, vous pouvez soutenir le site en offrant un pourboire via la fonction "payer moi un café". Ce paiement est facultatif et ne conditionne pas l'accès aux fonctionnalités du site.</p>

    <h5 id="article6">Article 6. Propriété Intellectuelle</h5>
    <p>Tous les contenus, marques, logos et autres propriétés intellectuelles présents sur le site sont notre propriété ou celle de nos partenaires. Vous ne pouvez pas les utiliser sans notre autorisation écrite préalable.</p>

    <h5 id="article7">Article 7. Limitation de Responsabilité</h5>
    <p>Nous ne garantissons pas que le site sera exempt d'erreurs ou d'interruptions. Nous ne serons pas responsables des dommages directs ou indirects résultant de l'utilisation ou de l'impossibilité d'utiliser le site.</p>

    <h5 id="article8">Article 8. Protection des données</h5>
    <p>Nous nous engageons à protéger vos données personnelles conformément aux lois en vigueur. Pour plus d'informations, consultez notre Politique de confidentialité.</p>

    <h5 id="article9">Article 9. Résiliation</h5>
    <p>Nous nous réservons le droit de suspendre ou de résilier votre accès au site en cas de violation de ces CGU ou pour toute autre raison à notre seule discrétion.</p>

    <h5 id="article10">Article 10. Droit applicable</h5>
    <p>Ces CGU sont régies par les lois en vigueur dans le pays où le site est hébergé.</p>
    
</div>
</div>

{% endblock %}
