{% extends 'base.html.twig' %}



{% block body %}

  <div class="cgu_layout">
    <h2>Politique de confidentialité</h2>

    <p class="cgu_update">(Mises à jour le 02/05/2024)</p>
    <div class="preambule">
        <ol><a class="preambule_title-click" href="#article0">PREAMBULE</a></ol>

        <ol><a class="preambule_title-click" href="#article1">ARTICLE 1. DONNEES COLLECTEES</a></ol>

        <ol><a class="preambule_title-click" href="#article2">ARTICLE 2. METHODE DE COLLECTE</a></ol>

        <ol><a class="preambule_title-click" href="#article3">ARTICLE 3. UTILISATION DES DONNEES</a></ol>
<ol><a class="preambule_title-click" href="#article4">ARTICLE 4. PARTAGE DES DONNEES</a></ol>
        <ol><a class="preambule_title-click" href="#article5">ARTICLE 5. DROITS DES UTILISATEURS</a></ol>


        <ol><a class="preambule_title-click" href="#article6">ARTICLE 6. SECURITE DES DONNES</a></ol>

        <ol><a class="preambule_title-click" href="#article7">ARTICLE 7. MISE A JOUR DE LA POLITIQUE </a></ol>
        <ol><a class="preambule_title-click" href="#article8">ARTICLE 8. CONTACT</a></ol>
       
    </div>

    <h5>Préambule</h5>
    <p class="para_p">Cette Politique de confidentialité détaille la manière dont nous collectons, utilisons, et protégeons les informations personnelles que vous nous fournissez. En utilisant notre site web, vous acceptez et consentez aux pratiques décrites dans cette politique.</p> 

    <h5 id="article1">Article 1. Données collectées</h5>
    <p class="para_p">Nous collectons les types de données suivants :
<br>
      - Nom et prénom : Fournis via le formulaire d'inscription pour identifier l'utilisateur <br>
      - Nom d'utilisateur : Utilisé pour personnaliser l'expérience utilisateur <br>
      - Photos : Soumises volontairement par les utilisateurs pour enrichir leur profil <br>
      - Adresse e-mail : Utilisée pour l'inscription et la communication <br>
- Cookies : Collectés pour améliorer l'expérience de navigation et permettre l'accès aux profils <br>
      - Date de naissance : Utilisée pour des activités telles que les listes de tirage au sort.</p>
   
    <h5 id="article2">Article 2. Méthode de collecte</h5>
    <p class="para_p">Les données sont collectées par les moyens suivants :
<br>
      - Formulaire d'inscription : Les utilisateurs fournissent leurs informations personnelles lors de la création de leur compte <br>
      - Cookies : Collectés automatiquement pour permettre une navigation personnalisée et l'accès aux profils.</p>

    <h5 id="article3">Article 3. Utilisation des Données</h5>
    <p class="para_p">Les données collectées sont utilisées pour :
<br>
      - Envoyer des mails liés aux tirages au sort : Permettant de notifier les utilisateurs concernant leur participation <br>
      - Envoyer des mails liés à la liste du Père Noël : Fournissant des mises à jour pertinentes sur ces activités.
  </p>

    <h5 id="article4">Article 4. Partage des Données</h5>
    <p class="para_p">Nous ne partageons pas les informations personnelles des utilisateurs avec des fournisseurs externes ni avec des tiers non autorisés.</p>

    <h5 id="article5">Article 5. Droits des Utilisateurs</h5>
    <p class="para_p"> Les utilisateurs peuvent modifier leurs informations personnelles ou suspendre leur compte à tout moment via les paramètres de leur profil.</p>

    <h5 id="article6">Article 6. Sécurite des Données</h5>
    <p class="para_p">Afin de garantir la sécuritée des données, nous avons mis en place des mesures de securité pour proteger les informations personnelles des utilisateurs.</p>

    <h5 id="article7">Article 7. Conservation des Données</h5>
    <p class="para_p">Les données sont conservées aussi longtemps que les utilisateurs maintiennent leur inscription sur notre site.</p>

    <h5 id="article8">Article 8. Contact</h5>
    <p class="para_p">Si vous avez des questions ou des préoccupations concernant notre Politique de confidentialité, vous pouvez nous contacter via le formulaire de contact disponible dans la rubrique "Contact" de notre site web.</p>
</div>


{% endblock %}
