{% extends 'base.html.twig' %}


{% block body %}<section class="recipes">
<h2>Idées Gourmandes pour les Fêtes</h2>

<div class="recipes_carousel">
 
  <div class="recipes_item verrine active">
<h4>Verrines d'avocats et crevettes</h4>
<a class="recipes_a" href="">Découvrez la recette</a>
</div>

<div class="recipes_item rillettes ">
<h4>Rillettes de maquereau aux herbes sur toast</h4>
<a class="recipes_a" href="">Découvrez la recette</a>
</div>

<div class="recipes_item miniCake">
<h4>Mini cakes au Boursin</h4>
<a class="recipes_a" href="">Découvrez la recette</a>
</div>

<div class="recipes_item foieGras">
<h4>Toasts de foie gras</h4>
<a class="recipes_a" href="">Découvrez la recette</a>
</div>

<div class="recipes_item saumon ">
    <h4>Tourte au saumon</h4>
    <a class="recipes_a" href="">Découvrez la recette</a>
    </div>

<div class="recipes_item chaponFarci">
  <h4>Chapon Farci accompagné d'un gratin de courges</h4>
  <a class="recipes_a" href="">Découvrez la recette</a>
</div>

<div class="recipes_item magret">
  <h4>Magret de canard au four et pommes de terre</h4>
  <a class="recipes_a" href="">Découvrez la recette</a>
</div>

<div class="recipes_item saintJacques ">
  <h4>Coquilles Saint Jacques gratinées</h4>
  <a class="recipes_a" href="">Découvrez la recette</a>
</div>

<div class="recipes_item foretNoire">
  <h4>Forêt noire et ses sapins au chocolat croquant</h4>
  <a class="recipes_a" href="">Découvrez la recette</a>
</div>

<div class="recipes_item bucheFramboise ">
  <h4>Bûche légère aux framboises et mascarpone</h4>
  <a class="recipes_a" href="">Découvrez la recette</a>
</div>

</div>
<div class="recipes_items-navigation">
    <img class="recipes_item-previous active first" src="/assets/images/else/fleche.png" alt="flèche pour aller vers la gauche">
    <button class="second">b</button>

    <img class="recipes_item-next third" src="/assets/images/else/fleche.png" alt="flèche pour aller vers la droite">

</div>
 
</section>
{% endblock %}
