{% extends 'base.html.twig' %}


{% block body %}

<h2>Idées Gourmandes pour les Fêtes</h2>

<div class="recipes_carousel">

    {% for recipe in recipes %}
        <div class="recipes_item verrine active">
            <h4>{{ recipe.title }}</h4>
            <a class="recipes_a" href="">Découvrez la recette</a>
        </div>
    {% endfor %}


</div>
<div class="recipes_items-navigation">
    <img class="recipes_item-previous active first" src="/assets/images/else/fleche.png" alt="flèche pour aller vers la gauche">
    <button class="second">b</button>

    <img class="recipes_item-next third" src="/assets/images/else/fleche.png" alt="flèche pour aller vers la droite">

</div>


 

{% endblock %}
